@import url('https://fonts.googleapis.com/css?family=Domine');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1');

h5{
    margin:0;
}

.site-container{
    display:grid;
    grid-template-rows:50px;
}

.font{
    font-family:'Domine', serif;
    letter-spacing:-0.5px;
}

.nav-bar-container{
    padding-bottom:30px;
    border-bottom:5px solid black;
    margin:0 50px;
}

.nav-bar{
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid gray ;
    margin: 0;
}

.nav-bar-font{
    font-family: 'Gothic A1', sans-serif;
    font-size:10pt;
    font-weight:bold;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    /*background-color: #2196F3;*/
    margin:20px;
}

.left-column{
    /*background-color: green;*/
    text-align: center;
    border-right:1px solid gray;
}

.center-column {
    display:grid;
    grid-template-rows:auto auto auto;
    text-align: left;
    padding-left:20px;
    padding-right:20px;
    border-right:1px solid gray;
}

.center-item{
    display:grid;
    grid-template-columns:1fr auto;
    border-bottom: 1px solid gray;
    padding-top:10px;
    margin-right:20px;
}

.right-column {
    text-align: left;
    margin-top:-10px;
}

.right-item{
    padding-bottom:10px;
    padding-top:10px;
    border-bottom: 1px solid gray;
    margin-right:20px;
    margin-left:20px;
}

.featured {
    font-weight:bold;
}

.caption{
    font-weight:bold;
}

.sub-caption{
    font-size:10pt;
    color:gray;
}

